@media screen and (min-width: 480px) {
  .container {
    width: 100%;
  }

  .strategy {
    padding-top: 96px;
  }

  .strat-tittle {
    width: 396px;
  }

  .strat-list {
  }
  .strat-p {
    width: 396px;
  }

  .team-list {
    justify-content: center;
    gap: 72px;
  }

  .team-list-item {
  }

  .team-tittle {
    margin-bottom: 72px;
    padding-top: 96px;
  }

  .team-container {
    width: 264px;
  }

  .team-soc-list {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 8px;
    margin-bottom: 32px;
    gap: 24px;
  }

  .hero {
    width: 100%;
    height: 432px;
    left: 0px;
    top: 70px;
    padding-top: 112px;
    padding-bottom: 112px;
  }

  .hero-tittle {
    width: 320px;
    height: 80px;
    margin-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
  }

  .hero-btn {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 16px 32px;
    gap: 10px;
    width: 169px;
    height: 56px;
    left: 129px;
    top: 334px;
  }

.customers-container {
  width: 396px;
}

  .customers-list {
  column-gap: 24px;
  row-gap: 72px;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .customers-list-item {
    
  }

  .customers-tittle {
    padding-top: 96px;
    margin-bottom: 72px;
  }

  .customers {
padding-top: 0;
padding-bottom: 0;
  }

  .customers {
    padding-bottom: 96px;
  }

  .footer-cont {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .portfolio-cont {
width: 428px;
  }
}

@media screen and (min-width: 768px) {
  .strat-tittle {
    display: flex;
    align-items: flex-start;
    width: 264px;
    height: 40px;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
  }

  .strat-list-item {
    width: calc((100% - 24px) / 2);
    height: 120px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 0px;
    gap: 8px;
  }

  .strat-list {
    width: 736px;
    height: 312px;
    left: 16px;
    top: 604px;
    column-gap: 24px;
    row-gap: 72px;
    margin: 0 auto;
  }

  .strat-p {
    max-width: 356px;
    height: 72px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
  }

  .hero {
    width: 100%;
    height: 436px;
    left: 0px;
    top: 72px;
    padding-top: 112px;
    padding-bottom: 112px;
  }

  .hero-tittle {
    width: 496px;
height: 120px;
margin-bottom: 36px;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 56px;
line-height: 60px;
text-align: center;
letter-spacing: 0.02em;
  }

  .hero-btn {
    display: flex;

padding: 16px 32px;
gap: 10px;
width: 169px;
height: 56px;
left: 300px;
top: 340px;
  }

  .team-container {
    width: 552px;
  }

  .team-list {
    column-gap: 24px;
    row-gap: 64px;
  }

  .team-list-item {
width: calc((100% - 24px) / 2);
  }

 .customers-container {
  width: 768px;
 }

 .customers-list {
  column-gap: 24px;
  row-gap: 72px;
 }

 .customers-list-item {
 }

 .customers-tittle {
  padding-top: 96px;
  margin-bottom: 72px;
}

.customers {
  padding-bottom: 96px;
}

.footer-cont {
  width: 768px;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 24px;
  padding-left: 108px;
  padding-right: 164px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.footer-form {
  display: flex;
  align-items: center;
 gap: 24px;
}

.subscribe-btn {
  margin-top: 0;
}


}

@media screen and (min-width: 1200px) {

  .container {
    width: 100%;
  }

.strategy-cont {
  width: 1128px;
  height: 224px;
}
  
  .strat-tittle {
    max-width: 264px;
    height: 24px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #2e2f42;
    flex: none;
    order: 1;
    flex-grow: 0;
  }

  .strat-list-item {
    max-width: 264px;
    height: 112px;
  }

  .strat-list {
    width: 1128px;
    flex-wrap: wrap;
    height: 112px;
  }

  .strat-p {
    max-width: 264px;
    height: 72px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
    flex: none;
    order: 2;
    flex-grow: 0;
  }

  .strat-icon-list {
    width: 1128px;
    display: flex;
  }
  .hero {
    width: 100%;
    height: 600px;
    left: 0px;
    top: 71px;
    padding-top: 188px;
    padding-bottom: 188px;
  }

  .what {
    display: flex;
  }

  .team-container {
    width: 1128px;
  }

  .team-list {
    flex-wrap: nowrap;
  }

  .team-list-item {
    width: 264px;
  }

  .team-tittle {
    padding-top: 120px;
    padding-bottom: 72px;
  }

  .customers-container {
    width: 1200px;
  }

  .customers-list {
    flex-wrap: nowrap;
  }

  .customers-tittle {
    padding-top: 120px;
    margin-bottom: 72px;
  }

  .customers {
    padding-bottom: 120px;
  }

  .footer-cont {
    width: 1440px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    column-gap: 0;
    padding-left: 0;
    padding-right: 0;
    
  }

  .footer-logo-p {
    margin-right: 120px;
  }

  .footer-sub {
    margin-left: 80px;
  }

}
